ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}
.journey_list li{
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #52C0A7;
    background-color: #52C0A7;
    text-align: center;
    width: 160px;
    
}



