<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Simple Sidebar - Start Bootstrap Template</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Embarc Journey Media
                    </a>
                </li>
                <li>
                    <a href="/feed">My Feed</a>
                </li>
                <li>
                    <a href="/add">Add a Journey!</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Add Your Journey!</h1>
                <p>Select your journey, put in the date you went, put your reaction, and talk about the trip itself.</p>
                <form action="/addJourney" method="POST">
                    Journey: <select name="journey">
                        
                        <option th:each="journey : ${journeys}" th:text= "${journey.getName()}" th:value = "${journey.getId()}"/>
                    </select>
                    <br />
                    Date: <input type="Date" name="date" />
                    <br />
                    Reaction: <select name="react">
                        <option value="happy">:]</option>
                        <option value="ecstatic">XD</option>
                        <option value="meh">:\</option>
                        <option value="sad">:[</option>
                    </select>
                    <br />Reflect on the Journey below.  Answer some questions like: What did you like/dislike about the Journey? What did you learn about yourself or the world? What would you do to make this journey better?
                    <textarea name="reflect" rows="5" cols="50"></textarea>
                    <input type="submit" name="Submit"  /> 
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</body>
</html>